@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: white;
  --primary-color: orange;
  --secondary-color: cyan;
  --text-primary: white;
  --text-secondary: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;

  p {
    color: var(--text-primary);
  }

  label {
    color: var(--text-primary);
  }

  h1 {
    color: var(--text-primary);
  }

  h2 {
    color: var(--text-primary);
  }

  h3 {
    color: var(--text-primary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
