.root {
    padding: 2rem 0;
  }
  
  .section {
    margin-bottom: 3rem;
  }
  
  .company {
    margin-bottom: 2rem;
  }
  
  .role {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  
  .roleTitle {
    font-weight: bold;
  }
  
  .roleDate {
    font-style: italic;
    color: gray;
  }
  